<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Faerun</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static '/js/script.js' %}"></script>
</head>
<body>
  <header>
    <h1>Between Lands, the game.</h1>
  </header>

    <section>

        <div>
            <p id="texto1">This game is currently in development.</p>
        </div>

        <div id="intro"
                class="button-container"> <input type="button" value="PLAY" onclick="introbutton()">
        </div>



    </section>

</body>


</html>